{% load wagtailuserbar %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body, html {
                margin: 0; padding: 0; height: 100%; overflow: hidden;
            }
        </style>
    </head>
    <body>
        <iframe id="w-preview-iframe" title="Headless preview" src="{{ preview_url }}" width="100%" height="100%" style="border: none;"></iframe>
        {% comment %}
            Include the wagtail userbar so we can run Axe in the intermediate
            iframe, but hide it so it's invisible.
        {% endcomment %}
        <div hidden>{% wagtailuserbar %}</div>
    </body>
</html>
