/* Responsive image/video classes */
/* line 2, /vagrant/bakerydemo/static/css/main.scss */
.rich-text img {
  max-width: 100%;
  height: auto; }

/* line 6, /vagrant/bakerydemo/static/css/main.scss */
.richtext-image.left {
  float: left; }

/* line 9, /vagrant/bakerydemo/static/css/main.scss */
.richtext-image.right {
  float: right; }

/* line 12, /vagrant/bakerydemo/static/css/main.scss */
.responsive-object {
  position: relative; }

/* line 17, /vagrant/bakerydemo/static/css/main.scss */
.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
