{% extends "wagtailcore/shared/block_preview.html" %}
{% load static %}

{% block content %}
    <svg class="static-block-preview" viewBox="0 0 360 246">
        <title>Preview of an embedded video</title>
        <rect fill="light-dark(#fff, #1d1d1d)" height="245.5" rx="10" width="360" y=".5" />
        <rect fill="light-dark(#e0e0e0, #464646)" height="211.5" rx="7" width="340" x="10" y="10.5" />
        <path
            d="m203.412 113.029c1.732 1.193 1.732 3.749 0 4.942l-44.71 30.791c-1.991 1.371-4.702-.054-4.702-2.471v-61.5824c0-2.4166 2.711-3.8414 4.702-2.4707z"
            fill="light-dark(#fff, #1d1d1d)"
        />
        <g fill="light-dark(#e0e0e0, #464646)">
            <rect height="4" rx="2" width="24" x="13" y="232" />
            <rect height="4" rx="2" width="33" x="41" y="232" />
            <rect height="4" rx="2" width="57" x="78" y="232" />
            <rect height="4" rx="2" width="33" x="139" y="232" />
        </g>
    </svg>
{% endblock %}
