{% extends "base.html" %}
{% load wagtailcore_tags navigation_tags wagtailimages_tags %}

{% block content %}

    {% include "base/include/header-index.html" %}

    <div class="container">
        <div class="location-list-page">
            {% if locations %}
                {% for location in locations %}
                    {% include "includes/card/picture-card.html" with page=location portrait=False %}
                {% endfor %}
            {% else %}
                <div class="col-md-12">
                    <p>No locations available right now.</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
