DJANGO_SETTINGS_MODULE=bakerydemo.settings.dev

REDIS_URL=redis://redis

# Database connection settings:
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=app_db
DATABASE_USER=app_user
DATABASE_PASSWORD=changeme
DATABASE_URL=postgres://$DATABASE_USER:$DATABASE_PASSWORD@$DATABASE_HOST/$DATABASE_NAME

# Content Security Policy (CSP)
# To test Wagtail's compatibility with CSP, configure the variables below to enable CSP.
# These values are commented out by default because Wagtail is not (yet) compatible with
# the strict policy defined below.

# Careful about the quoting of directives! It is easy to break.
# CSP_DEFAULT_SRC="'self'"

# Enable this rule to allow font awesome to load from CDN
# CSP_FONT_SRC="'self', https://cdnjs.cloudflare.com"
