{
  "extends": ["eslint:recommended"],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "env": {
    "browser": true
  },
  "rules": {
    // allow no lines between single line members (e.g. static declarations)
    "lines-between-class-members": [
      "error",
      "always",
      { "exceptAfterSingleLine": true }
    ],
    // note you must disable the base rule as it can report incorrect errors
    "no-use-before-define": "off",
    "no-underscore-dangle": "error"
  }
}
