.DS_Store
*.pyc
*.log
*.swp
*.retry
.env
.idea
.vscode
*~
/logs
/data
.~*
common/CACHE
bakerydemo/settings/local.py
bakerydemodb
node_modules
venv
.venv
__pycache__
.vagrant/
/.vagrant/
/Vagrantfile.local
!.gitignore
bakerydemo/collect_static
