.DS_Store
*.pyc
*.log
*.swp
*.retry
.env
*~
/logs
/data
.~*
common/CACHE
bakerydemo/media/images/*
bakerydemo/settings/local.py
bakerydemodb
__pycache__
.vagrant/
/.vagrant/
/Vagrantfile.local
!.gitignore
