default_language_version:
  node: system
  python: python3
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [css, scss, javascript, ts, tsx, json, yaml]
        additional_dependencies:
          - prettier@3.8.1
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.39.1
    hooks:
      - id: eslint
        types: [file]
        files: \.(js)$
        args: [--report-unused-disable-directives]
        additional_dependencies:
          - eslint@9.39.1
          - '@eslint/js@9.39.1'
          - globals@16.5.0
  - repo: https://github.com/thibaudcolas/pre-commit-stylelint
    rev: v16.26.1
    hooks:
      - id: stylelint
        files: \.css$
        additional_dependencies:
          - stylelint@16.26.1
          - stylelint-config-standard@39.0.1
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.6
    hooks:
      - id: djhtml
