# Irrelevant files ignored for performance reasons.
node_modules
playwright-report
test-results
uvenv
venv
.venv
*.min.css
# File types which Prettier supports but we don’t want auto-formatting.
*.md
# Files which contain incompatible syntax.
*.html
bakerydemo/collect_static
