{
  "extends": ["stylelint-config-standard", "stylelint-config-prettier"],
  "rules": {
    "no-descending-specificity": null,
    "custom-property-pattern": "^([a-z][a-z0-9]*)(-{1,2}[a-z0-9]+)*$",
    "selector-class-pattern": [
      "^[a-z]+[0-9]{0,2}(-[a-z0-9]+)*(__[a-z0-9]+(-[a-z0-9]+)*)?(--[a-z0-9]+(-[a-z0-9]+)*)?$",
      { "resolveNestedSelectors": true }
    ]
  }
}
