Django==1.9.9
psycopg2==2.6.1
elasticsearch==1.2.0
django-redis==4.3.0
wagtail==1.5.3
django-libsass==0.6
libsass==0.8.3
Pillow==2.9.0

# Development tools
stellar==0.4.3

# Production dependencies
dj-database-url==0.3.0
whitenoise==2.0.4
uwsgi==2.0.11.2
ConcurrentLogHandler==0.9.1
