{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags %}

{% block content %}
<div class="homepage">

{% image page.image fill-1920x600 as image %}
<div class="container-fluid hero" style="background-image:url('{{ image.url }}')">
    <div class="hero-gradient-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-1 col-lg-5 home-hero">
                <h1>{{ page.title }}</h1>
                <p class="lead">{{ page.hero_text }}</p>
                {% if page.hero_cta_link %}
                    <a href="{% pageurl page.hero_cta_link %}" class="hero-cta-link">
                        {{ page.hero_cta }}
                    </a>
                {% else %}
                    {{ page.hero_cta }}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row promo-row">
        <div class="col-sm-5 col-sm-offset-1 feature-1">
            {% if page.featured_section_1 %}
                <h2>{{ page.featured_section_1_title }}</h2>
                <div class="featured-children">
                    {% for childpage in page.featured_section_1.specific.children|slice:"3" %}
                        <li>
                            <a class="listing-card" href="{{childpage.url}}">
                                <figure class="listing-card__image">
                                    {% image childpage.image fill-180x180-c100 %}
                                </figure>
                                <div class="listing-card__contents">
                                    <h3 class="listing-card__title">{{childpage.title}}</h3>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </div>
                <a class="feature-cta-link" href="/breads">
                    <span>View more of our breads</span>
                    <svg class="feature-cta-link__icon" width="11" height="30" viewBox="0 0 11 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.41669 23.2091L7.76243 17L11 17L4.13954 25L0.302327 25C0.453036 24.9651 0.617043 24.8867 0.794348 24.7647C0.971652 24.6427 1.15339 24.4989 1.33956 24.3333C1.52573 24.1678 1.7119 23.9891 1.89807 23.7974C2.08424 23.5969 2.25711 23.4009 2.41669 23.2091Z" fill="#C55302"/>
                        <path d="M2.41669 10.7908L7.76243 17L11 17L4.13954 9L0.302327 9C0.453036 9.03486 0.617043 9.11329 0.794348 9.23529C0.971652 9.3573 1.15339 9.50109 1.33956 9.66667C1.52573 9.83224 1.7119 10.0109 1.89807 10.2026C2.08424 10.403 2.25711 10.5991 2.41669 10.7908Z" fill="#C55302"/>
                    </svg>
                </a>
            {% endif %}
        </div>

        <div class="col-sm-6 promo">
            {% if page.promo_image or page.promo_title or page.promo_text %}
                <div class="col-lg-10 promo-text">
                    <h2>{{ page.promo_title }}</h2>
                    {{ page.promo_text|safe }}
                </div>
            {% endif %}
            <figure>{% image page.promo_image fill-590x413-c100 %}</figure>
        </div>
    </div>
</div>

{% if page.body %}
<div class="container-fluid streamfield">
    <div class="container">
        <div class="row">
            <div class="col-md-7 streamfield-column">
                {{ page.body }}
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-md-12 feature-2">
            {% if page.featured_section_2 %}
            <h2>{{ page.featured_section_2_title }}</h2>
                <div class="featured-children row feature-2-row">
                    {% for childpage in page.featured_section_2.specific.children|slice:"3" %}
                        <li class="col-sm-4 feature-2-item">
                            <a href="{{childpage.url}}">
                                <figure>
                                    {% image childpage.image fill-430x210-c100 %}
                                </figure>
                            </a>
                            <div class="feature-2-text">
                                <h3><a href="{{childpage.url}}">{{childpage.title}}</a></h3>
                                <p>{{ childpage.introduction|truncatewords:15 }}</p>
                            </div>
                        </li>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 feature-3">
            {% if page.featured_section_3 %}
            <h2>{{ page.featured_section_3_title }}</h2>
                <div class="featured-children row">
                    {% for childpage in page.featured_section_3.specific.children|slice:"6" %}
                        <li class="col-md-4">
                            <a href="{{childpage.url}}">
                                <figure>
                                    {% image childpage.image fill-430x254-c100 %}
                                </figure>
                                <h3>{{childpage.title}}</h3>
                            </a>
                        </li>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
</div>
{% endblock content %}
