{% extends "base.html" %}
{% load navigation_tags wagtailimages_tags %}

{% block content %}

{% image self.image fill-1920x600 as hero_img %}
    {% include "base/include/header-hero.html" %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            {% if page.introduction %}
                <p class="intro">{{ page.introduction }}</p>
            {% endif %}

            {# TODO These two loops could be consolidated into one, with styling #}
            <div class="blog-byline">
            {% if page.date_published %}{{ page.date_published }} by {% else %}By: {% endif %}{% for author in page.authors %}
                {{ author }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
            </div>

            <div class="blog-avatars">
                {% for author in page.authors %}
                    {% image author.image width-100 class="blog-avatar" %}
                {% endfor %}
            </div>

            {{ page.body }}

            {% if page.get_tags %}
                Tagged with:<br />
                {% for tag in page.get_tags  %}
                    <a href="{{ tag.url }}" class="btn btn-sm">{{ tag }}</a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
