{% load navigation_tags static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            {% block title %}
                {% block title_prefix %}
                    Wagtail demo bakery
                {% endblock %}
                {% if self.seo_title %}
                    {{ self.seo_title }}
                {% else %}
                    {{ self.title }}
                {% endif %}
            {% endblock %}
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% block main_navigation %}
            {% get_site_root as site_root %}
            {% top_menu parent=site_root calling_page=self %}
            {# main_menu is defined in base/templatetags/navigation_tags.py #}
        {% endblock %}

        {% block breadcrumbs %}
            {% breadcrumbs %}
            {# breadcrumbs is defined in base/templatetags/navigation_tags.py #}
        {% endblock %}

        {% block content %}
        {% endblock %}

    </body>
</html>

