#demo-banner {
  margin: 0;
  background-color: #2f2060;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wagtail #demo-banner {
  /* Add some padding to prevent interfering with Wagtail's mobile nav */
  padding-left: 50px;

  position: fixed;
  z-index: 100;
  width: 100%;
}

/* Ensure the banner doesn't sit on top of existing admin content */
#wagtail #main, #wagtail .sidebar, #wagtail .sidebar-panel {
  margin-top: 50px;
  height: calc(100% - 50px);
}

#demo-banner h1 {
  margin: 0;
  color: white;
  font-size: 20px;
  font-family: Arial;
  font-weight: 700;
}

#demo-banner h1 a {
  color: white;
  text-decoration: underline;
}
