/* open-sans-300 - vietnamese_greek_cyrillic-ext_cyrillic_latin_greek-ext_latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url('../fonts/open-sans-v17-vietnamese_greek_cyrillic-ext_cyrillic_latin_greek-ext_latin-ext-300.woff2')
    format('woff2');
}

/* open-sans-300italic - vietnamese_greek_cyrillic-ext_cyrillic_latin_greek-ext_latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: url('../fonts/open-sans-v17-vietnamese_greek_cyrillic-ext_cyrillic_latin_greek-ext_latin-ext-300italic.woff2')
    format('woff2');
}

/* open-sans-regular - vietnamese_greek_cyrillic-ext_cyrillic_latin_greek-ext_latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('../fonts/open-sans-v17-vietnamese_greek_cyrillic-ext_cyrillic_latin_greek-ext_latin-ext-regular.woff2')
    format('woff2');
}

/* open-sans-italic - vietnamese_greek_cyrillic-ext_cyrillic_latin_greek-ext_latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url('../fonts/open-sans-v17-vietnamese_greek_cyrillic-ext_cyrillic_latin_greek-ext_latin-ext-italic.woff2')
    format('woff2');
}

/* open-sans-600 - vietnamese_greek_cyrillic-ext_cyrillic_latin_greek-ext_latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url('../fonts/open-sans-v17-vietnamese_greek_cyrillic-ext_cyrillic_latin_greek-ext_latin-ext-600.woff2')
    format('woff2');
}

/* open-sans-600italic - vietnamese_greek_cyrillic-ext_cyrillic_latin_greek-ext_latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: url('../fonts/open-sans-v17-vietnamese_greek_cyrillic-ext_cyrillic_latin_greek-ext_latin-ext-600italic.woff2')
    format('woff2');
}

/* open-sans-700 - vietnamese_greek_cyrillic-ext_cyrillic_latin_greek-ext_latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('../fonts/open-sans-v17-vietnamese_greek_cyrillic-ext_cyrillic_latin_greek-ext_latin-ext-700.woff2')
    format('woff2');
}

/* open-sans-700italic - vietnamese_greek_cyrillic-ext_cyrillic_latin_greek-ext_latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url('../fonts/open-sans-v17-vietnamese_greek_cyrillic-ext_cyrillic_latin_greek-ext_latin-ext-700italic.woff2')
    format('woff2');
}

/* open-sans-800 - vietnamese_greek_cyrillic-ext_cyrillic_latin_greek-ext_latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url('../fonts/open-sans-v17-vietnamese_greek_cyrillic-ext_cyrillic_latin_greek-ext_latin-ext-800.woff2')
    format('woff2');
}

/* open-sans-800italic - vietnamese_greek_cyrillic-ext_cyrillic_latin_greek-ext_latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src: url('../fonts/open-sans-v17-vietnamese_greek_cyrillic-ext_cyrillic_latin_greek-ext_latin-ext-800italic.woff2')
    format('woff2');
}
