/* Space out content a bit */
body {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 19px;
  font-family: 'Alegreya', serif;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+50,e9e4dd+100 */
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(233,228,221,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(233,228,221,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(233,228,221,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9e4dd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  min-height: 100vh;
}

@media (min-width: 768px) {
  body {
    font-size: 22px;
  }
}

h1 {
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  position: relative;
}

.hero h1 {
  color: white;
}

h2 {
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  color: #63210d;
}

h3 {
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  color: #63210d;
}

h4 {
  font-weight: 600;
  font-family: 'Lato', sans-serif;
  color: #63210d;
  font-size: 22px;
}

a, a:focus, a:visited {
  color: #d4566b;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #eb7400;
}

a.btn {
  display: inline-block;
  background-color: #d4566b;
  color: white;
  font-family: 'Lato', sans-serif;
  padding: 15px 20px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: 300;
}

a.btn:hover {
  background-color: #eb7400;
  color: white;
}

input {
  border-radius: 3px;
  border: none;
  font-size: 18px;
  padding: 10px;
  width: 100%;
}

p {
  margin: 0 0 30px;
  color: #444;
}

.intro {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin: 0 0 40px;
  font-size: 22px;
}

.stand-first {
  color: rgba(255,255,255,0.8);
  margin: 0;
}



/* queries for type */
@media (min-width: 768px) {

  h1 {
    font-size: 60px;
  }

  .stand-first {
    font-size: 26px;
  }

  .intro {
    font-size: 30px;
    margin: 0 0 60px;
  }

  p {
    margin: 0 0 30px;
  }

}

ul {
  margin: 0 0 30px;
}

@media (min-width: 768px) {
  ul {
    margin: 0 0 50px;
  }
}

figure {
  margin: 0 0 30px;
  position: relative;
}
@media (min-width: 768px) {
  figure {
    margin: 0 0 50px;
  }
}

figcaption {
  background-color: rgba(99,33,13,0.8);
  position: absolute;
  width: 75%;
  left: 0;
  bottom: 0;
  padding: 10px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

img {
  display: block;
  width: 100%;
}

.search {
  margin: 15px 0 0 0;
  display: none;
  position: relative;
}
@media (min-width: 768px) {
  .search {
    float: right;
    margin: 0 0 0 30px;
    display: inline-block;
  }
}

.search-icon {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: inline-block;
}

.search-icon svg {
  fill: #d4566b;
  width: 20px;
  height: 20px;
}

nav {
  margin: 15px 0 5px;
  display: none;
}

@media (min-width: 768px) {
  nav {
    margin: 15px 0 0 0;
    border-top: 1px solid rgba(255,255,255,0.1);
    display: block;
  }
}

.nav-pills>li+li {
    margin-left: 0;
}

.nav-pills>li>a {
  color: white;
  border-top: 1px solid transparent;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: 300;
  padding: 10px 10px;
  font-size: 11px;
  color: white;
  font-family: 'Lato', sans-serif;
  margin-top: -1px;
}

@media (min-width: 768px) {
  .nav-pills>li>a {
    padding: 10px 20px;
    font-size: 14px;
  }
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover,
.nav-pills>li.active, .nav-pills>li:hover, .breadcrumb>li+li:hover:before,
.nav>li>a:focus, .nav>li>a:hover {
  color: #d4566b;
  background-color: transparent;
  border-top: 1px solid #d4566b;
  font-weight: 600;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: transparent;
  border-top: 1px solid #d4566b;
}

.dropdown-menu {
  background-color: rgba(25,17,18,1);
  border-radius: 0;
  border: transparent;
}

.dropdown-menu > li> a {
  border-bottom: 1px solid #371c19;
  color: #fff;
  font-family: 'Lato', sans-serif;
  padding: 10px 20px;
}

.dropdown-menu > li> a:hover {
  background-color: transparent;
  color: #d4566b;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.footer {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  padding: 20px 0;
  margin: 40px 0 0;
  font-weight: 300;
  background-color: white;
}

.footer p {
  margin: 0;
}

/* Custom page header */
.header {
  padding: 15px 0 15px;
/*  position: absolute;*/
  width: 100%;
  background: rgb(25,17,18); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(25,17,18,1) 0%, rgba(55,28,25,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  rgba(25,17,18,1) 0%,rgba(55,28,25,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  rgba(25,17,18,1) 0%,rgba(55,28,25,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191112', endColorstr='#371c19',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  z-index: 10;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
}

.container {
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 1400px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Article title and hero image */
.hero {
  background-size: cover;
  background-position: center;
  padding: 200px 0 30px 0;
  position: relative;
  margin: 0 0 30px;
}

@media screen and (min-width: 768px) {

  .hero {
    padding: 400px 0 60px 0;
    margin: 0 0 40px;
  }

}



.hero-gradient-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.01) 1%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

/* Logo */
.logo, .logo:visited, .logo:focus {
  display: inline-block;
  padding: 0;
  color: white;
  font-size: 30px;
  font-weight: 300;
  margin: 0 0 0;
}


.logo:hover {
  color: #d4566b;
  text-decoration: none;
}


blockquote {
  border-left: 5px solid #d4566b;
  margin: 0 0 50px;
}

blockquote p {
  font-size: 30px;
  margin: 0 0 10px;
}

cite {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  color: #888;
  font-size: 12px;
  font-style: normal;
  letter-spacing: 0.15em;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 1024px) {

}

/* Menu dropdown hack */
li.has-submenu a.allow-toggle {
  float: left;
  padding-right: 0;
}
.caret-custom {
    float: right;
    display: inline-block!important;
    padding: 10px 10px 15px 5px!important;
}
.caret-custom:after {
    content: "▼"!important;
}

/* Edd styling */
.site-title {
  border-bottom: 1px #eee solid;
}
.site-title h1 {
  font-family: 'Alegreya', serif;
  font-size: 1.5em;
  margin-top: 10px;
}

.navbar-form {
  border: 1px solid #ddd;
  padding: 0;
  border-radius: 5px;
  margin-right: 0px;
}
.navbar-form .form-group .form-control {
  border: none;
  box-shadow: none!important;
  font-family: 'Lato', sans-serif;
}
.navbar-right button.btn.btn-default {
  margin-left: -10px;
  border: none;
  border-left: 1px solid #ddd;
  border-radius: 0;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar-nav a {
  font-size: 14px;
}
.navbar-nav a span {
  font-size: 10px;
}

.navbar.navbar-default.navbar-custom {
  border-bottom: 1px #eee solid;
}

.nav-pills> li:first-of-type > a {
  padding-left: 0;
}

.breadcrumb {
  background-color: transparent;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
.breadcrumb>li+li:before {
  content: "\00BB";
}

/* Mobile nav */
.navbar-toggle .icon-bar {
  background-color: #fff;
}

/* Location list page */
.location-list-item {
  text-align: center;
  margin-bottom: 30px;
}
.location-list-title {
  line-height: 270px;
  height: 270px;
  background-color: #eb7400;
}
.location-list-title img {
  background-color: rgba(233,228,221,1);
  height: 270px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.location-list-title:hover img {
  opacity: 0.3;
}
.location-list-title span.title {
  color: white;
  display: inline-block;
  font-weight: 300;
  position: relative;
}
.location-list-item address {
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  font-size: 1.4em;
  padding: 10px 40px;
}

/* Location detail page */
.template-location-page .intro {
  margin-bottom: 0;
}
.location-opening h3 {
  margin-top: 0;
}
span.day {
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}
time.location-time {
  display: block;
}

.map-container {
  height: 550px;
}

.location-address {
  background-color: rgba(233,228,221,1);
  padding: 10px 30px;
  margin-bottom: -200px;
  position: relative;
  z-index: 1;
}

/* No gutters */
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
