/* Responsive image/video classes */
.rich-text img {
    max-width: 100%;
    height: auto;
}
.richtext-image.left{
    float:left;
}
.richtext-image.right{
    float:right;
}
.responsive-object {
    position: relative;
}
.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
