{% set ancestors = breadcrumbs().ancestors %}
{% if ancestors %}
    <nav class="breadcrumb-container" aria-label="Breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        {% for ancestor in ancestors %}
                            {% if loop.last %}
                                <li aria-current="page">{{ ancestor }}</li>
                            {% else %}
                                <li><a href="{{ pageurl(ancestor) }}">{% if loop.first %}Home{% else %}{{ ancestor }}{% endif %}</a>
                                    {% set class="breadcrumb__chevron-icon" %}{% include "includes/chevron-icon.html" %}</li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </nav>
{% endif %}
