{% set menuitems=top_menu(parent=get_site_root(), calling_page=page).menuitems %}
{% for menuitem in menuitems %}
    <li class="presentation {{ menuitem.title|lower|cut(" ") }}{{ "active" if menuitem.active }} {{ "has-submenu" if menuitem.show_dropdown }}">
        {% if menuitem.show_dropdown %}
            <a href="{{ pageurl(menuitem) }}" class="allow-toggle">{{ menuitem.title }} <span><a class="caret-custom dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a></span></a>
            {% include "tags/top_menu_children.html" %}
            {# Used to display child menu items #}
        {% else %}
            <a href="{{ pageurl(menuitem) }}">{{ menuitem.title }}</a>
        {% endif %}
    </li>
{% endfor %}
