{% extends "base.html" %}
{% load wagtailimages_tags %}

{% block content %}
    <h1>{{ page.title }}</h1>
    <figure>
      {% image self.image fill-600x600 %}
    </figure>

    <p>{{ page.origin }}</p>
    <p>{{ page.bread_type }}</p>
    {% with ingredients=page.ingredients.all %}
        {% if ingredients %}
            <h3>Ingredients:</h3>
            <ul>
                {% for ingredient in ingredients %}
                    <li style="display: inline">
                        {{ ingredient.name }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {{ page.body }}
{% endblock content %}
