{% extends "base.html" %}
{% load wagtailcore_tags navigation_tags wagtailimages_tags %}

{% block content %}
    {% include "base/include/header-index.html" %}

    <div class="container">
        <div class="blog-list">
            {% if recipes %}
                {% for recipe in recipes %}
                    {% include "includes/card/blog-listing-card.html" with blog=recipe %}
                {% endfor %}
            {% else %}
                <div class="col-md-12">
                    <p>Oh, snap. Looks like we were too busy baking to write any recipes. Sorry.</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
