{% load navigation_tags wagtailcore_tags %}
{% get_site_root as site_root %}

<nav class="navbar navbar-default navbar-custom">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
          {% for menuitem in menuitems %}
            <li class="{% if menuitem.show_dropdown %}has-submenu{% endif %} {% if menuitem.active %}current{% endif %}">
                {% if menuitem.show_dropdown %}
                    <a href="{% pageurl menuitem %}" class="allow-toggle">{{ menuitem.title }} <span><a class="caret-custom dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a></span></a>
                        {% top_menu_children parent=menuitem %}
                        {# Used to display child menu items #}
                {% else %}
                    <a href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
                {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
</nav>
