{% extends "wagtailadmin/shared/side_panels/checks.html" %}
{% load wagtailadmin_tags %}

{% block issues_section %}
    {{ block.super }}
    <div data-controller="prompt">
        <h2 class="w-flex w-items-center w-gap-2 w-my-5 w-text-16 w-font-bold">
            <span>Content feedback</span>
            <span data-prompt-target="status"></span>
        </h2>

        <button class="button button-small" data-action="prompt#generate" data-prompt-target="suggest">
            <svg
                width="16"
                height="16"
                class="Draftail-Icon"
                aria-hidden="true"
                viewBox="0 0 576 512"
                fill="currentColor"
            >
                <path
                    d="M234.7 42.7L197 56.8c-3 1.1-5 4-5 7.2s2 6.1 5 7.2l37.7 14.1L248.8 123c1.1 3 4 5 7.2 5s6.1-2 7.2-5l14.1-37.7L315 71.2c3-1.1 5-4 5-7.2s-2-6.1-5-7.2L277.3 42.7 263.2 5c-1.1-3-4-5-7.2-5s-6.1 2-7.2 5L234.7 42.7zM46.1 395.4c-18.7 18.7-18.7 49.1 0 67.9l34.6 34.6c18.7 18.7 49.1 18.7 67.9 0L529.9 116.5c18.7-18.7 18.7-49.1 0-67.9L495.3 14.1c-18.7-18.7-49.1-18.7-67.9 0L46.1 395.4zM484.6 82.6l-105 105-23.3-23.3 105-105 23.3 23.3zM7.5 117.2C3 118.9 0 123.2 0 128s3 9.1 7.5 10.8L64 160l21.2 56.5c1.7 4.5 6 7.5 10.8 7.5s9.1-3 10.8-7.5L128 160l56.5-21.2c4.5-1.7 7.5-6 7.5-10.8s-3-9.1-7.5-10.8L128 96 106.8 39.5C105.1 35 100.8 32 96 32s-9.1 3-10.8 7.5L64 96 7.5 117.2zm352 256c-4.5 1.7-7.5 6-7.5 10.8s3 9.1 7.5 10.8L416 416l21.2 56.5c1.7 4.5 6 7.5 10.8 7.5s9.1-3 10.8-7.5L480 416l56.5-21.2c4.5-1.7 7.5-6 7.5-10.8s-3-9.1-7.5-10.8L480 352l-21.2-56.5c-1.7-4.5-6-7.5-10.8-7.5s-9.1 3-10.8 7.5L416 352l-56.5 21.2z"
                ></path>
            </svg>
            <span>Generate suggestions</span>
        </button>
        <button data-prompt-target="clear" data-action="prompt#clear" class="button button-small button-secondary" hidden>Clear all</button>


        <div class="wai-spinner" data-prompt-target="spinner" hidden>
            {% icon name="spinner" classname="w-w-8 w-h-8" %}
        </div>

        <h3 class="w-font-semibold" hidden>Overall feedback</h3>
        <ul data-prompt-target="feedback" class="wai-feedback" hidden>
        </ul>
        <template data-prompt-target="feedbackItemTemplate">
            <li class="wai-feedback__item">
                <p data-template-key="text" class="wai-feedback__item-text"></p>
                <button data-action="prompt#dismissItem" class="wai-feedback__dismiss" type="button">
                    Dismiss
                </button>
            </li>
        </template>

        <h3 class="w-font-semibold" hidden>Suggested improvements</h3>
        <ul data-prompt-target="suggestions" class="wai-suggestions" hidden>
        </ul>
        <template data-prompt-target="suggestionItemTemplate">
            <li class="wai-suggestions__item">
                <div data-controller="w-tooltip">
                    <div data-template-key="originalText" hidden></div>
                    <div data-template-key="suggestedText"></div>
                    <div data-template-key="explanation" data-w-tooltip-target="content">
                    </div>
                </div>
                <button class="button button-small" type="button">
                    Show
                </button>
                <button data-action="prompt#dismissItem" class="wai-suggestions__dismiss" type="button">
                    Dismiss
                </button>
            </li>
        </template>

    </div>
{% endblock %}
