{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags %}

{% block content %}
    {% include "base/include/header-hero.html" %}

    <div class="container person-detail">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-7">
                    <div class="row">
                        {% if page.introduction %}
                            <p class="person-detail__introduction">
                                {{ page.introduction }}
                            </p>
                        {% endif %}

                        <div class="hidden-md-down">
                            {{ page.body }}
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-md-offset-1">
                    <div class="row">
                        <div class="person-detail__meta">
                            {% if page.profile_picture %}
                                <div class="person-detail__photo">
                                    {% image page.profile_picture fill-300x300 class="img-circle" %}
                                </div>
                            {% endif %}

                            {% if page.role %}
                                <p class="person-detail__meta-title">Role</p>
                                <p class="person-detail__meta-content">{{ page.role }}</p>
                            {% endif %}

                            {% if page.team %}
                                <p class="person-detail__meta-title">Team</p>
                                <p class="person-detail__meta-content">{{ page.team|capfirst }}</p>
                            {% endif %}

                            {% if page.location %}
                                <p class="person-detail__meta-title">Location</p>
                                <p class="person-detail__meta-content">{{ page.location }}</p>
                            {% endif %}

                            {# Social links #}
                            {% if page.email or page.website or page.github or page.twitter or page.linkedin %}
                                <div class="person-detail__social">
                                    <h4>Connect</h4>
                                    <ul class="list-unstyled">
                                        {% if page.email %}
                                            <li><a href="mailto:{{ page.email }}">✉️ Email</a></li>
                                        {% endif %}
                                        {% if page.website %}
                                            <li><a href="{{ page.website }}" target="_blank" rel="noopener">🌐 Website</a></li>
                                        {% endif %}
                                        {% if page.github %}
                                            <li><a href="https://github.com/{{ page.github }}" target="_blank" rel="noopener">💻 GitHub</a></li>
                                        {% endif %}
                                        {% if page.twitter %}
                                            <li><a href="https://twitter.com/{{ page.twitter }}" target="_blank" rel="noopener">🐦 Twitter</a></li>
                                        {% endif %}
                                        {% if page.linkedin %}
                                            <li><a href="{{ page.linkedin }}" target="_blank" rel="noopener">💼 LinkedIn</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="col-md-7">
                    <div class="row hidden-md-up">
                        {{ page.body }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
